<!--
  <ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row">
      <div *ngFor="let photo of cols" class="col-4">
        <app-photo
        [url]="photo.url"
        [description]="photo.description">
      </app-photo>
    </div>
  </li>
</ol>
-->

<po-page-list>
  <div class="po-row">
    <po-list-view [p-items]="photos">
      <ng-template p-list-view-content-template let-rows>
        <div class="po-xl-4 po-lg-4 po-md-4 po-sm-4">
          <app-photo
            [url]="rows.url"
            [description]="rows.description">
            ></app-photo
          >
        </div>
      </ng-template>
    </po-list-view>
  </div>
</po-page-list>
