<div class="po-text-left">
  <div class="po-font-title">Choosing a trip</div>
</div>

<po-image
  class="po-image"
  [p-src]="url"
  [p-alt]="description"
  [p-height]="300"
>
</po-image>
<po-button
  p-icon="po-icon po-icon-like"
  [p-label]="likesLabel"
  p-kind="tertiary"
></po-button>

  <!--
    <po-image [p-src]="url" [p-alt]="descricao" [p-height]="tamanho">
    </po-image>
  -->

  <!--
    <po-number
    class="po-md-12"
    formControlName="likes"
    [p-value]="likes"
    p-clean="false"
    p-icon="po-icon po-icon-like"
    p-label="likes"
    p-readonly="true"
    name="input"
    >
  </po-number>
-->

